.login-page {
  margin-top: 8.125rem;
  position: relative;
}

h1 {
  font-size: 1.25rem;
  text-align: center;
  color: var(--text-bold);
  position: absolute;
  top: -9.3125rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-component);
  border-radius: 0.375rem;
  padding: 3rem 0;
  width: 87.2%;
  max-width: 23.4375rem;
}

.login-form,
.registration-form,
.user-registration-form,
.company-registration-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 87.2%;
  max-width: 23.4375rem;
  background-color: var(--background-component);
  border-radius: 0.3125rem;
  margin: 0 auto 4rem auto;
  padding: 1.75rem 1.5rem;
}

.user-registration-form,
.company-registration-form {
  margin-bottom: 0;
}

.login-form label,
.registration-form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text-bold);
  font-weight: 700;
}

.login-form input,
.registration-form input {
  font-weight: 400;
}

.login-btn,
.register-btn,
.continue-btn {
  padding: 0.6875rem 0;
}

.login-form span {
  font-size: 0.75rem;
  margin: 0 auto;
}

.register-link {
  color: var(--text-blue);
  font-weight: 700;
  cursor: pointer;
}

select {
  color: var(--text-regular);
  font-weight: 400;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .login-page {
    margin-top: 8.25rem;
  }

  h1 {
    font-size: 2rem;
    top: -10.75rem;
    width: 89.7135416667%;
    max-width: 45.625rem;
  }

  .login-form,
  .registration-form,
  .user-registration-form,
  .company-registration-form {
    width: 89.7135416667%;
    max-width: 45.625rem;
    padding: 1.5rem;
  }

  .login-form span {
    font-size: 0.875rem;
    margin: 0 auto;
  }
}
