@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("./components/Header/Header.css");

:root {
  --text-input: #19202d;
  --text-regular: #6e8098;
  --span-text-regular: #6e8098;
  --text-bold: #19202d;
  --text-blue: #5964e0;
  --background-main: #f4f6f8;
  --background-component: #fff;
}

.dark-mode {
  --text-input: #fff;
  --text-regular: #9daec2;
  --text-bold: #fff;
  --background-main: #121721;
  --background-component: #19202d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

input {
  background: none;
  color: var(--text-input);
}

input::placeholder {
  opacity: 0.5;
}

button {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background: #5964e0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #939bf4;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  background-color: var(--background-main);
  color: var(--text-regular);
}

/* ====================
 TYPOGRAPHY
 ==================== */
