@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("./components/Header/Header.css");
@import url("./components/Login/Login.css");
@import url("./components/AllJobsPage/FilterModal.css");
@import url("./components/AllJobsPage/AllJobsPage.css");

:root {
  --text-input: #19202d;
  --text-regular: #6e8098;
  --span-text-regular: #6e8098;
  --text-bold: #19202d;
  --text-blue: #5964e0;
  --background-main: #f4f6f8;
  --background-component: #fff;
}

.dark-mode {
  --text-input: #fff;
  --text-regular: #9daec2;
  --text-bold: #fff;
  --background-main: #121721;
  --background-component: #19202d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

input {
  background: none;
  color: var(--text-input);
}

input::placeholder {
  opacity: 0.5;
}

.blueBtn {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background: #5964e0;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.blueBtn:hover {
  background: #939bf4;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  background-color: var(--background-main);
  color: var(--text-regular);
  position: relative;
}

/* ==================== 
 CUSTOM CHECKBOX 
 ==================== */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-bold);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 6.75rem;
  text-align: right;
  margin-right: 1.75rem;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--background-main);
  border-radius: 0.1875rem;
  margin-right: 1rem;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #5964e0;
  background-image: url("./assets/desktop/icon-check.svg");
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
}

/* ====================
 TYPOGRAPHY
 ==================== */
